In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../data/vdem_subset_1970_nomean_strfix.parquet")

In [7]:
df.head()
df.shape

(1472, 4341)

In [9]:
df.tail()

,country_name,country_text_id,country_id,year,historical_date,project,historical,histname,codingstart,codingend,...,e_mipopula,e_miurbani,e_pefeliex,e_wb_pop,e_pechmor,e_miinteco,e_civil_war,e_miinterc,e_pt_coup,e_pt_coup_attempts
1467,Hungary,HUN,210,2020,2020-12-31,0,1,Hungary,1789,2024,...,NaN,NaN,NaN,9750149.0,3.99,NaN,NaN,NaN,0.0,0.0
1468,Hungary,HUN,210,2021,2021-12-31,0,1,Hungary,1789,2024,...,NaN,NaN,NaN,9709891.0,3.88,NaN,NaN,NaN,0.0,0.0
1469,Hungary,HUN,210,2022,2022-12-31,0,1,Hungary,1789,2024,...,NaN,NaN,NaN,9683505.0,3.77,NaN,NaN,NaN,0.0,0.0
1470,Hungary,HUN,210,2023,2023-12-31,0,1,Hungary,1789,2024,...,NaN,NaN,NaN,NaN,3.68,NaN,NaN,NaN,0.0,0.0
1471,Hungary,HUN,210,2024,2024-12-31,0,1,Hungary,1789,2024,...,NaN,NaN,NaN,NaN,3.59,NaN,NaN,NaN,0.0,0.0